@import "../../@core/styles/@theme.scss";

.ui-header {
  border-radius: $border-radius;

  width: calc(100vw - 470px);
  position: relative;
  background: white;
  padding-left: 36px;
  padding-right: 36px;
  height: 86px;
  margin-top: 56px;

  @include sm() {
  margin-top:0;
  }

  @include boxShadow();

  margin-bottom: 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  h1 {
    font-size: 18px;
    text-shadow: 0px 0px 19px rgb(80 80 80 / 10%);
    z-index: 9;
    font-weight: 700;
    margin: 0;
    line-height: 18px;

    letter-spacing: -0.022em;
  }
}
