@import "../../@core/styles/@theme.scss";

.header {
  border-radius: 16px;

  width: auto;
  position: relative;
  background: white;
  z-index: 999999;
  padding-left: 36px;
  height: 64px;
  box-shadow: 18px 0px 10px rgb(120 130 140 / 13%);

  margin-bottom: 24px;

  h1 {
    font-size: 18px;
    text-shadow: 0px 0px 19px rgb(80 80 80 / 10%);
    z-index: 9;
    font-weight: 500;
    margin: 0;
    line-height: 64px;

    letter-spacing: -0.022em;
  }

  p.breadcrumbs {
    margin-top: 0;
    margin-bottom: $base-spacing * 2;
    color: #fff;
    font-size: 18px;
    display: none;

    @include sm() {
      display: block;
    }

  }

  .header--metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    overflow: hidden;

    @include md() {
      margin-top: 40px;
    }
  }

}
