@import "../../@core/styles/@theme.scss";

.ui-page-container {
  width: calc(100vw - 466px);
  overflow: hidden;
  background: #fff;
  border-radius: $border-radius;
  padding: 16px 32px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  @include boxShadow();

  &:not(:first-child) {
    margin-top: 24px;
  }

  &--viewport-height {
    height: calc(100vh - 180px)
  }

  &--title {
    > h2 {
      border-bottom: 1px solid #eee;
      font-size: 18px;
      padding-bottom: 8px;
      margin: 0 0 18px -32px;
      width: calc(100% + 64px);
      padding-left: 32px;
    }
  }

  // min-height: calc(100vh - 180px);

  a:not(.btn), code {
    cursor: pointer;
    color: #424242;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 500;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(#fce4ee), to(#cce7ff));
    background: linear-gradient(to right, #fce4ee, #cce7ff);
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 0;
  }
}
