@import "../../styles/main";

.tabs-wrapper {
  max-width: 1200px;
  width: 100%;
  height: 72px;

  position: fixed;
  bottom: 0;
  background: linear-gradient(0deg, #0b57d014, #0b57d014), linear-gradient(0deg, #75757505, #75757505), #fff;

  @include md() {
    border-bottom: 1px solid #e6e3d1;

    position: relative;
    bottom: auto;
    background: inherit;
    border-top: none;;
  }

  @include lg() {
    padding: 16px 40px;
  }

  text-align: center;
  white-space: nowrap;
  overflow-x: auto;

  .tabs {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    &--overflow {
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .tab {
      height: 58px;
      border-radius: 24px;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;

      padding: 0 16px;
      border: none;

      cursor: pointer;
      transition: all 0.250s linear;

      a {
        text-decoration: none;
        color: #1c1c16;
        font-weight: 400;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;

        @include md() {
          height: 40px;
          line-height: 40px;
          font-weight: 600;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          align-content: stretch;
        }

        .ui-tab--text {
          font-size: 12px;
          @include md() {
            font-size: 16px;

          }
        }
      }

      &.tab-selected {
        transition: all 0.250s linear;
        border-radius: 24px;
        background:  #e1e3e1;

        a {
          color: #1c1c16;
        }
      }

      &:hover {
        opacity: 1;
        transition: all 0.250s linear;

        background: rgba(68, 71, 70, 0.08);
      }
    }
  }
}

.ui-tab--icon {
  width: 24px;
  height: 24px;

  @include md() {
    margin-top: -4px;
    margin-right: 8px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
