@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@import "./reset";
@import "./variables";
@import "./mixins/mixins";
@import "./shadows/shadows";
@import "colors";
@import "./transitions";
@import "./animations";

body {
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

::selection {
  background: #0965b0;
  color: #fff;
}
