@import "./reset";
@import "./variables";
@import "./mixins/mixins";
@import "./shadows/shadows";
@import "colors";
@import "./transitions";
@import "./animations";

body {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
  background: #0965b0;
  color: #fff;
}

/* input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
} */