// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

@import "./reset";
@import "./variables";
@import "./mixins/mixins";
@import "./shadows/shadows";
@import "colors";
@import "./transitions";
@import "./animations";

body {
  overflow-x: hidden;
  // font-family: 'Poppins', sans-serif;
  // font-family; "pt-serif";
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #0965b0;
  color: #fff;
}

/* input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
} */