@import "../../styles/main";

.ui-header-2 {
  height: 500px;
  width: 100vw;

  margin-top: 80px;
  margin-bottom: 48px;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &--left {
    background-color: #f4f4f4;

    &-content {
      padding: 75px 70px 0 0;
      max-width: 650px;
      float: right;
    }

    &-breadcrumbs, &-sub-title {
      height: 30px;
      margin-bottom: 25px;
      text-align: left;

      color: #6b6b6b;
      font-size: 1rem;
      line-height: 30px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      transition: all 0.2s ease;
    }

    &-sub-title {
      padding: 50px 0;
    }

    &-excerpt {
      color: #545554;
      font-size: 1.1875rem;
      line-height: 1.9375rem;
      margin-bottom: 1.5rem;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  img {
    position: absolute;
    top: 0;
    height: 590px;
    width: 100vw;
    object-fit: cover;
  }

  h1 {
    color: #545554;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.25rem;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  div {
    width: 100vw;
  }

  &--overlay {
    position: absolute;
    left: 50vw;
    top: 0;
    bottom: 0;
    right: 0;

    width: 100vw !important;

    background: black;
    opacity: 0;
    visibility: hidden;

    opacity: 0.4;
    visibility: visible;
  }


  div {
    width: 50vw;
  }
}