@use "sass:math";

@import "../../@core/styles/@theme.scss";

.ui-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: fixed;
  height: calc(100vh - 60px);
  width: 300px;
  z-index: 999;
  left: 30px;
  transition: all 0.25s linear;
  background: #fff;
  top: 30px;
  bottom: 30px;
  border-radius: $border-radius;

  &--collapsed {
    width: 50px;
    overflow: hidden;

    .ui-navigation--item {
      padding:0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;

      &-with-icon svg:first-child {
        margin-right: 0;
      }
    }

    .ui-navigation--item-text {
      display: none;
    }

    .ui-navigation--content {
      padding: 4px;
    }
  }

  @include boxShadow();

  &--content {
    padding: 24px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }

  &--items {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  &--logo {
    height: $navigation-height;
    cursor: pointer;

    border-bottom: 2px solid #eeeeee;
    margin-bottom: 24px;
    padding-bottom: 4px;

    svg:first-child {
      margin-right: $base-spacing * 2;
      transition: all 0.250s linear;

      .p1 {
        transition: fill 250ms linear;
      }

      .p2 {
        transition: fill 250ms linear;
      }
    }

    svg:last-child {
      height: math.div($navigation-height, 1.5);
      transition: all 0.250s linear;
    }
  }

  &--item {
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    color: #3f4254;
    font-weight: 500;
    border-radius: 12px;
    margin-bottom: 4px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    &-text {
      flex-grow: 1;
    }

    &-with-icon svg:first-child {
      margin-right: 12px
    }

    &-children {
      margin-left: 27px;
      border-left: 2px solid #eeeeee;
      padding-left: 8px;
    }

    &:hover:not(&-active) {
      background: #eeeeee;
      color: #131313;
    }

    &-active {
      background: #5065f6;
      color: #ffffff;
      position: relative;

      &:after {
        content: " ";
        background: #5065f6;
        right: -24px;
        top: 0;
        bottom: 0;
        width: 3px;
        position: absolute;
      }
    }

    &--active, &:hover {
      @include boxShadow();
    }
  }
}
