.ui-footer {
  width: 100vw;
  height: 125px;

  margin-top: 48px;

  border-top: 1px solid #DCDCDC;
  background-color: #f8f9fa;

  padding-left: 4.6875rem;
  padding-right: 4.6875rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .ui-typography {
    margin-bottom: 0;
    color: #727272;
    font-size: 14px;
  }

  &--content {
    margin: 0 auto;
    width: 100vw;
    max-width: 1300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }

  &--socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;

    .ui-i {
      margin-left: 16px;
      cursor: pointer;

      svg, svg path {
        fill: #727272;
      }
    }
  }
}
